.home {
	background: white;
	height: 100vh;
}

.spinner {
	background: white;
	height: 100px;
	width: 100px;
	margin: 100px auto 0 auto;
	border: 2px solid red;
}

.container-home {
	background: white;	
}