@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #002b49;
  font-weight: 400;
  background-color: #002b49;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #002b49;
  font-weight: 400;
  font-style: normal;
}

.grey-box {
  background-color: #d0d0d0;
  border-radius: 4px;
  /* Shadow/blur */
  -webkit-box-shadow: 11px 11px 20px 1px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 11px 11px 20px 1px rgba(0, 0, 0, 0.29);
  box-shadow: 11px 11px 20px 1px rgba(0, 0, 0, 0.29);
}

.format-box {
  margin: 40px 0;
  padding: 20px;
}

.navbar-nav>li {
  padding-left: 20px;
  padding-right: 20px;
}

button>a {
  text-decoration: none;
  color: white;
}

button>a:hover {
  text-decoration: none;
  color: white;
}

.form-group {
  text-align: left;
  margin-right: 15px;
}

.drop-down {
  display: flex;
  flex-direction: column;
}

.proj-row {
  margin-top: 100px;
}

.proj-label {
  margin-top: 15px;
}

.movement {
  display: flex;
  align-content: flex-end;
}

.info {
  width: 20rem;
  position: relative;
  float: right;
  margin-top: 40px;
  margin-right: 40px;
  padding: 20px;
}